version: 2
updates:
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5
    # Keep the default reviewers/assignees empty; add if you want
    # Allow security updates to open as soon as they're available
    allow:
      - dependency-type: 'all'
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 5
