:host {
  display: block;
}

.pagination {
  display: flex;
  align-items: center;
  gap: var(--_fd-space-3);
}

.status {
  font-size: var(--_fd-font-size-xs);
  color: hsl(var(--_fd-text-muted));
}
