:host {
  display: inline-block;
}

.label {
  display: inline-flex;
  align-items: center;
  gap: var(--_fd-space-1);

  font-family: inherit;
  font-size: var(--_fd-font-size-sm);
  font-weight: var(--_fd-font-weight-medium);
  color: hsl(var(--_fd-text));
}

.required {
  color: hsl(var(--_fd-danger));
}
