:host {
  display: block;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: var(--_fd-space-2);
}

.label {
  font-size: var(--_fd-font-size-sm);
  font-weight: var(--_fd-font-weight-medium);
  color: hsl(var(--_fd-text));
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: var(--_fd-space-2);
}
