<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Fandry Ui</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <meta charset="utf-8" />
    <meta name="author" content="Rahul Gawale" />
    <meta name="description" content="Fandry Ui" />
    <meta name="apple-mobile-web-app-title" content="Fandry Ui" />
    <link rel="icon" href="/1/asset/immutable/s/17897621242699958/assets/favicon.ico" />
    <link rel="manifest" href="/1/asset/immutable/s/17897621242701870/assets/site.webmanifest" />
    <meta name="application-name" content="Fandry Ui" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;500;600&display=swap"
    />
    <link rel="stylesheet" href="/1/asset/immutable/s/17897621242701870/assets/styles/global.css" />
  </head>
  <body>
    <main class="wrapper">
      <div id="main"><fandryui-components-index></fandryui-components-index></div>
    </main>
    <script type="application/javascript" src="/1/application/esm/l/en-US/ai/components/configuration/ci/-%2Fcomponents-/s/09283e43ad9800e50369ea3bb54c27f2/config.js"></script>
<script type="module" src="/1/bundle/esm/l/en-US/bi/0/module/mi/%40lwrjs%2Fapp-service%2Fcomponents%2Fmodule%2Fesm%2Fv%2F0_18_3/s/sha256-vbYD-wgf0WItngfRrABJ8bXHoMyMnkgKU9L3NvT7hA4/bundle_@lwrjs_app-service_components_module_esm.js"></script>
<link rel="modulepreload" href="/1/bundle/esm/l/en-US/bi/0/module/mi/fandryui%2FcomponentsIndex%2Fv%2F0_6_1/s/sha256--IteQ_JV0wmjiXUhkvcqi2lnItIlr_0Hj6HrlTzuULs/bundle_fandryui_componentsIndex.js" />
  </body>
</html>
