@import './tokens.css';

/* ---- Reset ---- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--fd-font-sans);
  color: hsl(var(--fd-text));
  line-height: 1.5;
}

/* ---- Typography ---- */

p {
  margin: 0 0 1em;
}

/* ---- Focus (non-form) ---- */

:focus-visible {
  outline: 2px solid hsl(var(--fd-ring-color));
  outline-offset: 2px;
}

/* ---- Disabled ---- */

button:disabled,
input:disabled,
textarea:disabled,
select:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* ---- Headings ---- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fd-font-heading);
  font-weight: var(--fd-heading-weight);
  letter-spacing: var(--fd-heading-letter-spacing);
}
