:host {
  display: inline-block;
}

.label {
  display: inline-flex;
  align-items: center;
  gap: var(--fd-space-1, 4px);

  font-family: inherit;
  font-size: var(--fd-font-size-sm, 0.875rem);
  font-weight: 500;
  color: hsl(var(--fd-text, 220 13% 20%));
}

.required {
  color: hsl(var(--fd-danger, 0 72% 51%));
}
