:host {
  display: inline-block;
}

.spinner {
  display: inline-block;
  border-radius: 50%;
  border: var(--_fd-border-width-lg) solid hsl(var(--_fd-border));
  border-top-color: hsl(var(--_fd-primary));
  animation: fd-spinner-rotate var(--_fd-duration-spin) linear infinite;
}

.spinner--sm {
  width: var(--_fd-size-sm);
  height: var(--_fd-size-sm);
}

.spinner--md {
  width: var(--_fd-size-md);
  height: var(--_fd-size-md);
}

.spinner--lg {
  width: var(--_fd-size-lg);
  height: var(--_fd-size-lg);
}

@keyframes fd-spinner-rotate {
  to {
    transform: rotate(360deg);
  }
}
