<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Fandry Ui</title>

    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <meta charset="utf-8" />
    <meta name="author" content="Rahul Gawale" />
    <meta name="description" content="Fandry Ui" />
    <meta name="apple-mobile-web-app-title" content="Fandry Ui" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/assets/site.webmanifest" />
    <meta name="application-name" content="Fandry Ui" />
    <link rel="stylesheet" href="/assets/styles/global.css" />
  </head>
  <body>
    <main class="wrapper">
      <div id="main">{{{body}}}</div>
    </main>
    {{{lwr_resources}}}
  </body>
</html>
